*,
*:before,
*:after {
  max-width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;
  scroll-behavior: smooth;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  font-family: 'Montserrat';
  padding: 0;
  border: 0;

  font-size: 100%;
  box-sizing: border-box;
  font: inherit;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}
.container {
  max-width: 1449px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}
.header-container {
  max-width: 1476px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

main {
  background: url(/img/back-form.svg) repeat no-repeat, url(/img/1and2.svg) repeat no-repeat;
  background-position-y: 104%, 0%;
  align-items: center;
}
.none {
  display: none;
}
.stop-scroll {
  overflow: hidden;
}
