@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.container .header .header__menu .header__item .item__text a:hover, .container .header .btn .btn__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #C4C4C4;
}

.container .header .header__menu .header__item .item__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #C4C4C4;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0 auto;
  max-width: 1920px;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 1476px;
  height: 106px;
  margin: 0 auto;
}

.container .header {
  display: flex;
  align-items: center;
  margin-top: 70px;
}

.container .header .header__logo {
  padding: 0;
  margin: 0;
}

.container .header .header__menu {
  display: flex;
}

.container .header .header__menu .header__item .item__text {
  text-decoration: none;
}

.container .header .header__menu .header__item .item__text a:hover {
  color: #292930;
  top: -7px;
  position: relative;
  transition: 0.1s;
}

.container .header .btn {
  border-radius: 25px;
  width: 294px;
  height: 50px;
  background: #5360FE;
  border-style: none;
}

.container .header .btn .btn__text {
  text-decoration: none;
  color: #EEF7FE;
}

.container .header .header__lang {
  margin-left: 30px;
  width: 50px;
  height: 50px;
  top: 56px;
  border-radius: 16px;
  border: none;
}

.container .header .header__lang .lang__btn {
  color: #5360FE;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  text-decoration: none;
  text-transform: uppercase;
}
