@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@400;700&display=swap");
*,
*:before,
*:after {
  max-width: 1920px;
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.container {
  margin: 0 auto;
}

.header__container .header__lang {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  font-feature-settings: "pnum" on, "lnum" on;
  color: #c4c4c4;
}

.header__container .header__btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #eef7fe;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 88px;
}

.header__container .header__logo {
  margin-right: 130px;
}

.header__container .header__menu {
  margin-right: 162px;
}

.header__container .header__menu .header__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-right: 53px;
  text-decoration: none;
  color: #7d8797;
}

.header__container .header__menu .header__item .header__item:nth-child(5) {
  margin: 0px;
}

.header__container .header__menu .header__item:hover {
  font-weight: 700;
  color: #292930;
}

.header__container .header__menu .header__item ::before {
  content: "";
  display: block;
  width: 150px;
  height: 10px;
  background-color: #5360fe;
}

.header__container .header__btn {
  padding: 14px 60px;
  border-radius: 25px;
  background-color: #5360fe;
  margin-right: 44px;
  text-decoration: none;
  transition: 0.2s;
}

.header__container .header__btn:hover {
  background-color: #04d7cd;
  color: #04035f;
}

.header__container .header__lang {
  background: #eef7fe;
  border-radius: 16px;
  padding: 14px 13px;
  text-decoration: none;
  color: #5360fe;
}

.header__container .header__lang:hover {
  font-weight: 700;
  font-style: normal;
}
